.slide-container {
  margin: 0;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.standard-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundImage(@imgUrl) {
  background-size: 100% 100%;
  background-image: @imgUrl;
}

.opening-slide {
  &:extend(.standard-slide);

  .react-logo {
    width: 400px;
    height: 400px;
    .backgroundImage(url(../images/react-logo.png));
  }
}

.text-slide {
  &:extend(.standard-slide);
  color: white;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.code-slide {
  &:extend(.text-slide);
  font-size: 20px;

  &.complicated { font-size: 13px;}
}

.dev-tools-gif {
  width: 600px;
  height: 600px;
  .backgroundImage(url(../images/dev-tools-example.gif));
}

.universe-slide {
  &:extend(.text-slide);
  height: 100%;
  background-size: 100% 100%;
  background-image: url(../images/universe.jpg);
}

.translucent-back() {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-slide {
  padding: 30px;
  width: 100%;
  height: 100%;
  .video {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    .youtube {
      width: 100%;
      flex-grow: 5;
    }
  }
}

.picture-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  h1 {
    position: absolute;
    top: 50%;
    left: 40%;
    .translucent-back();
  }

  .image {
    height: calc(100%  /3);
    width: 25%;
    background-size: cover;
  }
}